In [1]:
import requests
import pandas as pd
import numpy as np
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
# nltk.download('stopwords')
# nltk.download('wordnet')

In [2]:
# df = pd.DataFrame(columns=['Lang', 'Text', 'Author', 'Service'])
df = pd.read_csv('processed_english_twitter_data.csv')
df.head()

,Lang,Text,Author,Service
0,en,rt kiranprajput starting career never get comp...,AnkitAgrawal__,insurance
1,en,rt sensorygirl payday piggy distributing fund ...,SpoilLilith,savings
2,en,rt xvxeos insurance company changed primary he...,ManhoodGR,insurance
3,en,kotakgeneral adding humanresources amp automat...,BankingFrontier,insurance
4,en,also victim fraud r lakh premium paid cheque p...,VijayJollyBJP,insurance

In [3]:
def store_to_csv(keyword, count, cls):
    url = 'http://127.0.0.1:8000/tweets/'
    obj = {
        "keyword": keyword,
        "count": count
        }

    r = requests.post(url, json=obj)
    data = r.json()
    tweets = data['tweets']
    for tweet in tweets:
        temp = [tweet['lang'], tweet['full_text'], tweet['user']['screen_name'], cls]
        df.loc[len(df.index)] = temp
    
    return len(df)

In [5]:
store_to_csv('credit card axis bank', 50, 'card')
store_to_csv('debit card axis bank', 50, 'card')
store_to_csv('credit card hdfc bank', 50, 'card')
store_to_csv('debit card hdfc bank', 50, 'card')
store_to_csv('credit card icici bank', 50, 'card')
store_to_csv('debit card icici bank', 50, 'card')
store_to_csv('credit card sbi bank', 50, 'card')
store_to_csv('debit card sbi bank', 50, 'card')
store_to_csv('credit card induslin bank', 50, 'card')
store_to_csv('credit card american express', 50, 'card')
store_to_csv('credit card kotak mahindra', 50, 'card')

1871

In [4]:
store_to_csv('loan mahindra finance', 50, 'loan')
store_to_csv('loan finance buddha', 50, 'loan')
store_to_csv('loan turbo loan', 50, 'loan')
store_to_csv('loan canara bank', 50, 'loan')
store_to_csv('loan pnb bank', 50, 'loan')
store_to_csv('loan uco bank', 50, 'loan')
store_to_csv('loan andhra bank', 50, 'loan')
store_to_csv('loan hsbc bank', 50, 'loan')
store_to_csv('loan icici bank', 50, 'loan')
store_to_csv('loan axis bank', 50, 'loan')
store_to_csv('loan hdfc bank', 50, 'loan')
store_to_csv('loan sbi bank', 50, 'loan')
store_to_csv('loan IDBI bank', 50, 'loan')

1463

In [4]:
store_to_csv('insurance hdfc', 50, 'insurance')
store_to_csv('insurance icici', 50, 'insurance')
store_to_csv('insurance LIC', 50, 'insurance')
store_to_csv('insurance max', 50, 'insurance')
store_to_csv('insurance kotak', 50, 'insurance')
store_to_csv('insurance aditya birla', 50, 'insurance')
store_to_csv('insurance tata', 50, 'insurance')
store_to_csv('insurance sbi', 50, 'insurance')
store_to_csv('insurance exide', 50, 'insurance')
store_to_csv('insurance pnb', 50, 'insurance')
store_to_csv('insurance reliance', 50, 'insurance')
store_to_csv('insurance bharti axa', 50, 'insurance')

1212

In [17]:
store_to_csv('emi bajaj', 150, 'emi')
store_to_csv('loans bajaj', 150, 'loan')
store_to_csv('cards bajaj', 150, 'card')
store_to_csv('insurance bajaj', 150, 'insurance')
store_to_csv('emi', 250, 'emi')
store_to_csv('loans', 250, 'loan')
store_to_csv('cards', 250, 'card')
store_to_csv('insurance', 250, 'insurance')
store_to_csv('investment and wealth management', 150, 'investment')
store_to_csv('savings and deposit', 150, 'savings')
store_to_csv('investment bajaj', 50, 'investment')
store_to_csv('savings bajaj', 50, 'savings')

1003

In [6]:
df.head()

,Lang,Text,Author,Service
0,en,rt kiranprajput starting career never get comp...,AnkitAgrawal__,insurance
1,en,rt sensorygirl payday piggy distributing fund ...,SpoilLilith,savings
2,en,rt xvxeos insurance company changed primary he...,ManhoodGR,insurance
3,en,kotakgeneral adding humanresources amp automat...,BankingFrontier,insurance
4,en,also victim fraud r lakh premium paid cheque p...,VijayJollyBJP,insurance

In [7]:
df = df.sample(frac=1)
df.reset_index(drop=True,inplace=True)
df.head()

,Lang,Text,Author,Service
0,en,card support good yet sebastian release neckla...,xYouCanCallMeAl,card
1,en,rt terraloire big bank multiple leader sit hos...,MarttinenLee,investment
2,en,rt wisdomise wisdomise main goal make financia...,Cryptullo,investment
3,en,hightoweradvsor wealth management firm based c...,AccountingToday,investment
4,en,rt warpsiwah cast emi nishino full movie http ...,Kakeksugion01,emi

In [8]:
df.to_csv('raw_twitter_data.csv', index=False)

In [9]:
for i in range(len(df)):
    txt = re.sub('[^a-zA-Z]', ' ', df['Text'][i])
    txt = txt.lower()
    txt = txt.split()
    wl = WordNetLemmatizer()
    txt = [wl.lemmatize(word) for word in txt if not word in set(stopwords.words('english'))]
    txt = ' '.join(txt)
    df['Text'][i] = txt

df.head()

,Lang,Text,Author,Service
0,en,card support good yet sebastian release neckla...,xYouCanCallMeAl,card
1,en,rt terraloire big bank multiple leader sit hos...,MarttinenLee,investment
2,en,rt wisdomise wisdomise main goal make financia...,Cryptullo,investment
3,en,hightoweradvsor wealth management firm based c...,AccountingToday,investment
4,en,rt warpsiwah cast emi nishino full movie http ...,Kakeksugion01,emi

In [10]:
new_df = df[df['Lang'] == 'en']
new_df.shape

(1789, 4)

In [11]:
new_df.head()

,Lang,Text,Author,Service
0,en,card support good yet sebastian release neckla...,xYouCanCallMeAl,card
1,en,rt terraloire big bank multiple leader sit hos...,MarttinenLee,investment
2,en,rt wisdomise wisdomise main goal make financia...,Cryptullo,investment
3,en,hightoweradvsor wealth management firm based c...,AccountingToday,investment
4,en,rt warpsiwah cast emi nishino full movie http ...,Kakeksugion01,emi

In [12]:
new_df.drop_duplicates(inplace=True)
new_df.shape

C:\Users\ayush\AppData\Local\Temp\ipykernel_8332\1997559839.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.drop_duplicates(inplace=True)

(1736, 4)

In [13]:
new_df.to_csv('processed_english_twitter_data.csv', index=False)