In [32]:
import requests
import pandas as pd
import numpy as np
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ayush\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ayush\AppData\Roaming\nltk_data...

True

In [15]:
df = pd.DataFrame(columns=['Lang', 'Text', 'Author', 'Service'])

In [16]:
def store_to_csv(keyword, count, cls):
    url = 'http://127.0.0.1:8000/tweets/'
    obj = {
        "keyword": keyword,
        "count": count
        }

    r = requests.post(url, json=obj)
    data = r.json()
    tweets = data['tweets']
    for tweet in tweets:
        temp = [tweet['lang'], tweet['full_text'], tweet['user']['screen_name'], cls]
        df.loc[len(df.index)] = temp
    
    return len(df)

In [17]:
store_to_csv('emi bajaj', 150, 'emi')
store_to_csv('loans bajaj', 150, 'loan')
store_to_csv('cards bajaj', 150, 'card')
store_to_csv('insurance bajaj', 150, 'insurance')
store_to_csv('emi', 250, 'emi')
store_to_csv('loans', 250, 'loan')
store_to_csv('cards', 250, 'card')
store_to_csv('insurance', 250, 'insurance')
store_to_csv('investment and wealth management', 150, 'investment')
store_to_csv('savings and deposit', 150, 'savings')
store_to_csv('investment bajaj', 50, 'investment')
store_to_csv('savings bajaj', 50, 'savings')

1003

In [18]:
df.head()

,Lang,Text,Author,Service
0,en,No Cost EMI options available with Bajaj Finse...,nkw_kaff,emi
1,en,@Bajaj_Finserv I want to cancel my EMI Card as...,anandthiag,emi
2,en,@Bajaj_Finserv \nHow to complain about my Cash...,Ananthalee,emi
3,en,@Bajaj_Finserv \nDear sir/ mam\n I want to ...,sk254266,emi
4,in,@Bajaj_Finance Mera Ecs Rifand full payment na...,MdsazzadAnsari,emi

In [19]:
df = df.sample(frac=1)
df.reset_index(drop=True,inplace=True)
df.head()

,Lang,Text,Author,Service
321,en,@Tata_Crucible B. Bajaj Allianz General Insura...,MrD_Shukla,insurance
618,en,"""Our cards are made with love and attention to...",dreamsbym_,card
384,ja,@da_emi_ ありがとうございます✨\n朝陽の方角を意識してあとはひたすら鹿さん追っかけ...,benzycocker,emi
951,en,RT @Coolfundoo: A man's top stock holdings are...,Coolfundoo,investment
369,es,RT @Pausuma: Wendy estimaba mucho a Apio! Pero...,Alejandra_Bco17,emi

In [34]:
df.to_csv('raw_twitter_data.csv', index=False)

In [35]:
for i in range(len(df)):
    txt = re.sub('[^a-zA-Z]', ' ', df['Text'][i])
    txt = txt.lower()
    txt = txt.split()
    wl = WordNetLemmatizer()
    txt = [wl.lemmatize(word) for word in txt if not word in set(stopwords.words('english'))]
    txt = ' '.join(txt)
    df['Text'][i] = txt

df.head()

,Lang,Text,Author,Service
0,en,tata crucible b bajaj allianz general insuranc...,MrD_Shukla,insurance
1,en,card made love attention detail every card spe...,dreamsbym_,card
2,ja,da emi,benzycocker,emi
3,en,rt coolfundoo man top stock holding like secre...,Coolfundoo,investment
4,es,rt pausuma wendy estimaba mucho apio pero hoy ...,Alejandra_Bco17,emi

In [36]:
new_df = df[df['Lang'] == 'en']
new_df.shape

(719, 4)

In [37]:
new_df.head()

,Lang,Text,Author,Service
0,en,tata crucible b bajaj allianz general insuranc...,MrD_Shukla,insurance
1,en,card made love attention detail every card spe...,dreamsbym_,card
3,en,rt coolfundoo man top stock holding like secre...,Coolfundoo,investment
5,en,rt quicktake south korea unique rental system ...,CaudiaAngelica,savings
6,en,amit hi please avoid sharing sensitive informa...,Bajaj_Finance,emi

In [38]:
new_df.drop_duplicates(inplace=True)
new_df.shape

C:\Users\ayush\AppData\Local\Temp\ipykernel_6040\1997559839.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.drop_duplicates(inplace=True)

(718, 4)

In [39]:
new_df.to_csv('processed_english_twitter_data.csv', index=False)